.App-header {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.main-body{
  background-color: var(--color-background);
  color: var(--color-foreground);
}


.leaflet-container {
  width: 100%;
  position:relative ;
  height: calc(100vh - 90px);
  margin-top: '180px';
  z-index: 0;
}

.control-accordion {
  // background-color: var(--color-background);
  background-color: var(--color-background);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  color: var(--color-foreground);
  display: flex;  
  flex-direction: column;
  width: 315px;
  border-radius: 5px;
  max-height: calc(100vh - 130px);
  position: fixed; 
  margin: auto;
  left: 17px; 
  top: 110px;
  z-index: 1;
}

.search-bar {
  padding:10px; 
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: var(--color-background);
  color: var(--color-foreground);
  vertical-align: middle;
  width: 100%;
  height: 60px;
  border-radius: 5px;
  position: absolute;
  display: flex;   
  z-index: 4;
  justify-content: space-between;
  align-items: center;
}

.search-field {
  border-width: 0 0 2px;
}

.search-field:hover, .search-field:focus-within, .search-field:hover, .multiBox:focus-within {
  border-color: var(--color-foreground)
}

.typeBox, .search-field {
  color: var(--color-foreground);
  border-color: color-mix(in srgb,var(--color-background),#000 40%);
  margin:auto;
  background: rgba(51, 170, 51, 0);
  outline: 0;
  border-width: 2;
}

