.tabulate{
    display:flex;
    flex-direction: row;
    gap:5px;
    white-space: nowrap;
    overflow:auto;
    margin:5px
}

.tab{
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
}

.tab-selected{
    background-color: var(--color-foreground);
    color: var(--color-background);
}

