.tabulate{
    display:flex;
    flex-direction: row;
    gap:5px;
    white-space: nowrap;
    overflow:auto;
    margin: 15px 5px;
}

.tab {
    font-size: 14px;
    position: relative;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    color: var(--color-foreground);
}

.text{
    mix-blend-mode:difference;
    
}


.pill {
    inset: 0;
    z-index: 0;
    position:absolute;
    background-color:  var(--color-foreground);
    border-radius: 5px;
}

